# Visual Studio
obj
bin
*.user
*.suo

# Resharper
_ReSharper.*

# Terminis
Terminis.Web/App_Data/*.xml
Terminis.Seal.Web/App_Data/*.xml

*log.xml*
AzureCloudService/csx/*/

MainWebRole/csx/*/
Azure.Publish.WorkerRoles.MainThreadedWorker/csx/*/
Terminis.Seal.Web.Azure/csx/*/

Terminis.Web.Azure/csx/*/


Azure.Publish.WorkerRoles.MainThreadedWorker/csx/Debug*/
Azure.Publish.WorkerRoles.MainThreadedWorker/csx/Staging*/
Azure.Publish.WorkerRoles.MainThreadedWorker/csx/Release*/
Azure.Publish.WorkerRoles.MainThreadedWorker/packages*/

TestResults/

*.webtestresult
*.orig

#NCrunch
*.ncrunchproject
*.ncrunchsolution
*.crunchsolution.cache

#TFS
$tf/*
$tf1/*
Terminis.opensdf
Terminis.sdf
